@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic global styles */
body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8; /* neutral-200 */
  color: #333333; /* neutral-500 */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
